.book-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.img-wrapper {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

.book_detail-wrapper {
    text-align: center;
    font-size: 17px;
}

p {
    font-weight: 500;
}
