{% extends 'layout.html' %}
{% import 'components/card.html' as card %}

{% block title%}Book Archive{% endblock %}

{% block main %}
{% for _book in books %}
    {% with book=_book.book_detail %}
        {{ card.card(book=book, 
                    extra='{} ~ {}'.format(_book.rental_date, _book.return_date),
                    img='../') }}
        {# <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../../{{ book.image }}" alt="{{ book.name }}">
                    <div class="caption">
                        <a href="{{ url_for('book.book_detail', book_id=book.id) }}">
                            <h3>{{ book.name }}</h3>
                        </a>
                        <p>{{ star.star(book.rating) }}</p>
                        <p>
                            {{ _book.rental_date }} ~ {{ _book.return_date }}
                        </p>
                    </div>
                </div>
            </div>
        </div> #}
    {% endwith %}
{% endfor %}
{% endblock %}