{% extends 'layout.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='book_detail.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='comment.css')}}">
{% endblock %}
{% block title%}Book Details{% endblock %}

{% block main %}
<div class="page-header">
    <h1>{{ book.name }}
        <p><small>{{ book.author }}</small></p>
    </h1>
</div>
<div class="book-wrapper">
    <div class="img-wrapper" style="background-image: url('../{{ book.image }}');"></div>
    <div class="book_detail-wrapper">
        <p>{{ book.publisher }}</p>
        <p>{{ book.publication_date }} 출간</p>
        <p>평점 {{ book.rating }}점</p>
        <p>총 {{ book.pages }}쪽</p>
        <p>ISBN {{ book.isbn }}</p>
        <p>현재 {{ book.available }}권 남음</p>
        <a href="{{ book.link }}">
            <button type="button" class="btn btn-link"><p>웹 페이지 바로가기</p></button>
        </a>
    </div>
</div>
<p>{{ book.description }}</p>

<!-- comment -->
<h1>한줄평</h1>
<div class="comment_field-wrapper">
<div class="container pb-cmnt-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form class="form-inline" action="{{ url_for('book.book_detail', book_id=book.id) }}" method="POST">
                        <textarea class="pb-cmnt-textarea" name="comment" required></textarea>
                        <div class="btn-group">
                            <input type="number" name="rating" required>
                            <!-- <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                            <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                            <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                            <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button> -->
                        </div>
                        <input class="btn btn-primary pull-right" type="submit" value="한줄평 남기기">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% for comment in comments %}
<article class="row comment-wrapper">
    <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i>{{ comment.user.username }}</div>
                    <time class="comment-date" datetime="16-12-2014 01:05">
                        <i class="fa fa-clock-o"></i>{{ comment.created_at }}
                    </time>
                    <span>{{ comment.rating }}</span>
                </header>
                <div class="comment-post">
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}