<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>엘리스 도서관</title>
</head>
<body>
    <h1>hi</h1>
    {% for book in book_list %}
        <div class="book_container">
            <a href="{{ url_for('book.book_detail', book_id=book.id) }}">
                <span class="book_title">{{ book.name }}</span>
            </a>
            <span class="book_rating">{{ book.rating }}</span>
            <span class="book_available">{{ book.available }}</span>
            <form action="{{ url_for('book.book_main') }}" method="POST">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="submit" value="대여하기">
            </form>
        </div>
    {% endfor %}
</body>
</html>