{% extends 'layout.html' %}
{% import 'components/card.html' as card %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='search_book.css')}}">
{% endblock %}

{% block title%}Search Book{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-6 search-wrapper">
        <form action="{{ url_for('main.search_book') }}" method="GET" class="input-group">
            <input type="text" class="form-control" placeholder="책 제목으로 검색해보세요..." name="search">
            <span class="input-group-btn">
                <input class="btn btn-default custom-btn" type="submit">찾아보기</input>
            </span>
        </form>
    </div>
</div>
{% if books %}
<div class="row card-wrapper">
    {% for book in books %}
        {% if service.user_has_book(book.id, user_id) %}
            {{ card.card(book=book,  
                value="대여한 책", 
                extra='{}권 남음'.format(book.available),
                btn=True,
                no_stock=True) }}
        {% else %}
            {% if book.available > 0 %}
                  {{ card.card(book=book, 
                        endpoint=url_for('book.rental_book'), 
                        id=book.id,  
                        value="대여하기", 
                        extra='{}권 남음'.format(book.available),
                        btn=True) }}
            {% else %}
                  {{ card.card(book=book,  
                        value="대여불가", 
                        extra='0권 남음',
                        btn=True,
                        no_stock=True) }}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %} 