{% extends 'bootstrap/base.html' %}
{% import 'components/rating.html' as star %}
{% import 'components/button.html' as button %}

{% macro card(book, 
              endpoint='', 
              id='', 
              value='', 
              extra='', 
              img='', 
              btn=False, 
              comment_btn=False, 
              no_stock=False) -%}
<div class="col-sm-6 col-md-4 card">
    <div class="thumbnail">
        <img src="{{ img }}../{{ book.image }}" alt="{{ book.name }}">
        <div class="caption">
            <a href="{{ url_for('book.book_detail', book_id=book.id) }}">
                <h4>{{ book.name }}</h4>
            </a>
            <p>{{ star.star(book.rating) }}</p>
            <p>{{ extra }}</p>
            {% if btn %}
                <p>
                    {{ button.button(endpoint=endpoint, id=id,  value=value, no_stock=no_stock) }}
                </p>
            {% endif %}
            {% if comment_btn%}
                <p>
                    <a href="{{ url_for('archive.manage_comment', book_id=book.id) }}" 
                       type="button" 
                       class="btn btn-primary custom-btn">
                        감상평 관리
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro -%}

